@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Cairo", sans-serif;
    direction: rtl;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}


.logo{
    width: 70px;
}

 h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    .result {
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
      display: none;
    }

    .product-name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-price {
      font-size: 22px;
      color: #2e7d32;
      font-weight: bold;
    }

    .not-found {
      color: red;
      margin-top: 10px;
      display: none;
      text-align: center;
    }


@media (max-width:420px) {
    header{
        padding:20px 30px;
    }
    header h1{
        font-size: 16px;
    }

    .logo{
        width: 40px;
    }
}