@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Cairo", sans-serif;
    direction: rtl;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

#title{
margin: 20px 0;
}

.logo{
    width: 70px;
}

  h2 {
      text-align: center;
    }

    /* search */
    #search {
      width: 90%;
      padding: 10px;
      margin: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 14px;
    }

    #search:active{
    border: 1px solid #0084ff;

    }

    table {
      width: 90%;
      margin: 0 auto;
      border-collapse: collapse;
    }

    thead {
      display: none;
    }

    td {
      border: none;
      padding: 0;
    }



.bu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 20px;
  gap: 20px;
  width: 60%;
  
}

.activ{
  text-decoration: none;
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 13px;
}

.go{
  text-decoration: none;
  border:1px #1d4ed8 solid;
  color: #1d4ed8;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 13px;
}


    /* card */
    .product-card {
      background: #fff;
      border-radius: 10px;
      padding: 12px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.06);
      margin-bottom: 15px;
    }

    .product-name {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      color: #333;
    }

    .product-details {
      display: none;
      margin-top: 10px;
    }

    label {
      font-size: 13px;
      color: #666;
    }

    input {
      width: 98%;
      padding: 8px;
      margin: 5px 0 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 14px;
    }

    button {
      width: 98%;
      padding: 10px;
      margin: 20px auto;
      text-align: center;
      border: none;
      border-radius: 6px;
      background: #0c8eca;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      transition: .3s ease;
    }

    button:hover {
      background: #0084ff;
    }


@media (max-width:420px) {
    header{
        padding:20px 30px;
    }
    header h1{
        font-size: 16px;
    }

    .logo{
        width: 40px;
    }
}