@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Cairo", sans-serif;
    direction: rtl;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

.logo{
    width: 70px;
}

.text-top{
    text-align: center;
    
}

.text-top h3{
    color: darkgreen;
}

.show{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 80px 0;
}

.dashboard{
    padding: 30px;
    background-color: rgb(0, 110, 255);
    color: #ffffff;
    border-radius: 15px;
    width: 30%;
}

.patg{
    display: flex;
    justify-content: center;
    gap: 30px;

}



.patg a{
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: right;
   flex-direction: column;
   color: #ffffff;
   padding: 50px 30px;
   border-radius: 10px;
   font-size: 25px;
   width: 20%;
   gap: 10px;

}

.patg i{
    margin: 0 10px;
}

.green{
            background: linear-gradient(135deg , #007924 , #539c00);

}

.blu{
            background: linear-gradient(135deg , #0051ff , #447df8);

}

.bana{
            background: linear-gradient(135deg , #3700ff , #7444f8);

}

.red{
            background: linear-gradient(135deg , #ff0000 , #f84444);

}

.yell{
            background: linear-gradient(135deg , #ffa600 , #f8b044);
}

@media (max-width:470px) {
    header{
        padding:20px 30px;
    }
    header h1{
        font-size: 16px;
    }

    .logo{
        width: 40px;
    }

    .text-top{
        margin: 20px 0;
    }

    .text-top h1{
        font-size: 20px;
    }
    
        .text-top h3{
            font-size: 14px;
    }

    .show{
    display: flex;
    
    gap: 10px;
    padding: 10px;
}

.dashboard{
    padding: 13px;
}

.card span{
    font-size: 12px;
}

.card-body h2{
    font-size: 15px;
}

.card-body p {
    font-size: 10px;
}

.patg{
    flex-wrap:wrap;
    padding: 60px 20px;
    gap: 30px;
}

.patg a{
    width: 45%;
    padding: 20px 10px;
}

.patg a i{
    font-size: 20px;
}

.patg a span{
    font-size: 15px;
}

}