@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Cairo", sans-serif;
    direction: rtl;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

.logo{
    width: 70px;
}